.warning_text
{
  height: 80px;
  max-width:600px;
  font-weight:bold;
  font-size: 16px;
  color:red;
  border: 1px solid red;
  padding: 10px;
  background-color: #FFCCCC;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

td.disclaimer
{
  font-size:1.1em;
  text-align:left;
}

.reference-text 
{
   color:grey !important;
   font-style:italic !important;
   font-size:0.9em !important;
   text-align:left !important;
}

hr {
border: none;
border-top: 1px solid #000000;
color: #FFFFFF;
background-color: #FFFFFF;
height: 1px;
}

/*
.navbar, .brand, .container,
.navbar .navbar-static-top,
.navbar .navbar-static-top .navbar-inverse,
.navbar-inverse .navbar-inner,
.navbar-inner
{
  background-color: #cc5500;
  border-top-color: #cc5500;
  border-bottom-color: #cc5500;
  background-image: -moz-linear-gradient(top, #cc5500, #cc5500);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cc5500), to(#cc5500));
  background-image: -webkit-linear-gradient(top, #cc5500, #cc5500);
  background-image: -o-linear-gradient(top, #cc5500, #cc5500);
  background-image: linear-gradient(to bottom, #cc5500, #cc5500);
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
#navbar1
{
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar-inverse .nav > li > a,
.navbar .nav > li > a,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .brand
{
  color: #ffffff;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

.well
{
  background-color: #cc5500;
  border: 1px solid darken(#cc5500, 10%); //#E3E3E3;
}
*/

.container
{
  margin-left: 10px;
}

.row-fluid .span4
{
  max-width: 290px;
}

footer
{
  background-color: #d3d3d3;
  color: #000;
  text-align: left;
  padding-left: 5px;
}

/*
#calcRisk
{
  width:200px;
  font-weight: bold;
  /*background-color: #08C;
  background-image: linear-gradient(to bottom, #FFF, #08C);
  border-style: -moz-border-top-colors: #FFF; */
}
*/
